* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: "宋体";
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

a:link,
a:visited {
    color: #333;
    text-decoration: none;
    font-weight: normal;
}

a:active,
a:hover {
    color: #f00;
    text-decoration: underline;
}

#wrap {
    width: 100%;
    /* background: url("../images/雪佛兰2018.png") no-repeat; */
    margin: 0px auto;
    background-color: pink;
}

#top {
    width: 98%;
    font-family: "黑体";
    text-align: right;
    padding-bottom: 10px;
    padding-right: 20px;
    background-color: yellow;
}

#top p {
    margin-left: 85%;
    padding-top: 5px;
    cursor:pointer;   /*鼠标滑过变成小手*/
}

#top span {
    padding-left: 5px;
    padding-right: 5px;
}

#nav {
    width: 100%;
    margin: 5px auto;
    line-height: 1.2;
    overflow: hidden;
}

#nav_menu {
    width: 90%;
    height: 36px;
    margin: 5px;
}

#nav_menu_head {
    width: 200px;
    height: 360px;
    /* background: url("../images/雪佛兰2018.png") no-repeat; */
}

#nav_menu_mid {
    width: 100%;
    padding-bottom: 15px;
    min-height: 36px;
    margin: 0px auto;
    background: url() repeat-x;
}

#nav_menu_mid ul {
    list-style: none;
    margin: 0px 5px;
    padding: 0px;
}

#nav_menu_mid li {
    display: inline-block;
    margin: 5px 10px 5px 20px;
    padding-left: 11px;
    cursor:pointer;   /*鼠标滑过变成小手*/
}

#nav_menu_mid a {
    font-family: "黑体";
    font-size: 25px;
    color: purple;
    vertical-align: center;
}

#nav_menu_tail {
    min-height: 36px;
    text-align: center;
    margin: 5px auto;
}

#nav_menu_tail img {
    max-width: 100%;
}

.container{
    padding-bottom: 2.0em
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.clearfix{
    *zoom: 1;
}

#main {
    /*float: left;*/
    width: 100%;
    min-height: 280px;
    margin-top: 15px;
}

#main_left {
    float: left;
    min-height: 500px;
    width: 30%;
}

#main_left_top {
    width: 100%;
}

#main_left_top h3 {
    height: 20px;
    font-family: "黑体";
    font-size: 16px;
    color: #105cb6;
    padding-left: 20px;
    padding-top: 15px;
}

#main_left_content {
    width: 100%;
    min-height: auto;
}

.main_left_content_list {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 50px;
    line-height: 30px;
    list-style: square;
}

#main_left_content_list li {
    border-bottom: 1px dashed #ccc;
}

.main_left_content_list a:hover {
    color: #f00;
    text-decoration: none;
}

#main_mid {
    float: left;
    min-height: 500px;
    width: 40%;
}

#main_mid_top {
    width: 30%;
}

#main_mid_top h3 {
    height: 20px;
    font-family: "黑体";
    font-size: 16px;
    color: #105cb6;
    padding-left: 20px;
    padding-top: 15px;
}

#main_mid_content {
    width: 100%;
    height: auto;
}

.main_mid_content_list {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 50px;
    line-height: 30px;
    list-style: square;
    overflow-y: scroll;
    height: 380px;
    }

.main_mid_content_list li {
    width: 48%;
    display: inline-block;
    border-bottom: 1px dashed #ccc;
}

.main_mid_content_list a:hover {
    color: #f00;
    text-decoration: none;
}

.main_mid_content_list span {
    display: block;
    color: green;
    cursor:pointer;   /*鼠标滑过变成小手*/
}

.main_mid_content_list img {
    width: 200px;
    height: 150px;
}

#main_right {
    float: left;
    min-height: 500px;
    width: 30%;
}

#main_right_top {
    width: 100%;
}

#main_right_top h3 {
    height: 20px;
    font-family: "黑体";
    font-size: 16px;
    color: #105cb6;
    padding-left: 20px;
    padding-top: 15px;
}

#main_right_content {
    width: 100%;
    height: auto;
}

.main_right_content_list {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 50px;
    line-height: 30px;
    list-style: square;
}

#main_right_content_list li {
    border-bottom: 1px dashed #ccc;
}

.main_right_content_list a:hover {
    color: #f00;
    text-decoration: none;
}

.main_right_content_list span {
    float: right;
    width: 75px;
    color: green;
}

#footer {
    clear: both;
    width: 200px;
    height: 65px;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    color: blue;
    text-align: center;
}